.aside-filter {
  width: 30rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 992px) {
  .aside-filter {
    min-width: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .aside-filter {
    width: 95vw;
  }
}

.aside-filter__btn {
  width: 28rem;
  height: 3.8rem;
  font: 200 1.6rem Roboto;
  letter-spacing: 0.6px;
  color: #fff;
  background: #ababab;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aside-filter__btn:hover {
  background: #bfbfbf;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .aside-filter__btn {
    width: 100%;
    max-width: 28rem;
  }
}

@media screen and (max-width: 768px) {
  .aside-filter__btn {
    margin: 3rem 0;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .aside-filter__btn {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
}

.aside-filter__btn--sorting {
  width: 28rem;
  height: 3.8rem;
  font: 200 1.6rem Roboto;
  letter-spacing: 0.6px;
  color: #fff;
  background: #0055a0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aside-filter__btn--sorting:hover {
  background: #006bc9;
  cursor: pointer;
}

.aside-filter__btn--mobile {
  display: none;
}

.sidebar-filter {
  width: 30rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .sidebar-filter {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .sidebar-filter {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .sidebar-filter__list {
    min-width: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-filter__list {
    width: 95vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.sidebar-filter__category {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .sidebar-filter__category {
    padding-bottom: 2px;
    border-bottom: 1px solid #0055a0;
    color: #0055a0;
  }
}

.sidebar-filter__category:hover {
  color: #0055a0;
}

.sidebar-filter__submenu {
  margin: 0 0 0 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  .sidebar-filter__submenu {
    margin-left: 0;
  }
}

.sidebar-filter__submenu div {
  margin-top: 1.4rem;
}

.sidebar-filter__submenu div input {
  margin-right: 1rem;
}

@media screen and (max-width: 992px) {
  .sidebar-filter__submenu-dimension {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar-filter__dimension-parameter {
  margin-top: 1rem;
}

.sidebar-filter__index-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-top: 1rem;
}

@media screen and (max-width: 992px) {
  .sidebar-filter__dimension-parameter select,
  .sidebar-filter__index-parameter select {
    width: 7rem;
    height: 3.8rem;
    padding: 0 1rem;
    margin-top: 1rem;
  }
}

.input-field--shortest {
  width: 7rem;
  height: 3.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.input-field--regular {
  width: 25rem;
  height: 3.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

input[type='checkbox'] {
  position: relative;
  margin: 0.4rem;
}

input[type='checkbox']:before {
  content: ' ';
  background: white;
  border: 1.5px solid #ababab;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 1rem;
  height: 1rem;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

input[type='checkbox']:checked:before {
  background: #ababab;
}

input[type='checkbox']:checked:after {
  content: ' ';
  background: transparent;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 60%;
  height: 30%;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mt {
  margin-top: 2rem;
}

.active {
  background-color: blue;
}
/*# sourceMappingURL=vertical-filter.css.map */